@import '../../common/styles/sass/variables';

.nav {
  border: 1px solid red;
  width: 300px;
  display: flex;
  justify-content: space-between;
}


//.nav {
//  width: 340px;
//  @include flex(row, space-between, stretch, nowrap);
//  a {
//    @include text($TitleFontFamily, 16px, 1.2, 400);
//    color: $textColor;
//    cursor: pointer;
//  }
//
//
//}