.distantBlock {
    height: 50vh;
    /*background-color: aqua;*/
}

.distantContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.button {
    background-color: #747871;
}