@import '/src/common/styles/sass/variables';

.title {
  font: $titleFontFamily;
  margin-bottom: 30px;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  & h2 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 70px;
    height: 1px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}