.skillsBlock {
    min-height: 100vh;
    background-color: #9ccb71;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #747871;
    margin: 20px;
}