@import '/src/common/styles/sass/variables';
@import '/src/common/styles/sass/mixins';

.mainBlock {
  height: 100vh;

  .text {
    width: 400px;
    display: block;
    @include text(white, $titleFontFamily, 18px, 400, 1.2);

    h1 {
      font-size: 50px;
      padding: 10px 0 10px;

      & > span {
        font-size: 50px;
        position: relative;
        display: inline-block;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 7px;
          height: 15px;
          width: 100%;
          z-index: -1;
          background: $primaryColor;
        }
      }
    }


  }

  .photo {
    width: 300px;
    height: 75%;
    background-size: cover;
    background-position: revert;
    background-repeat: no-repeat;
  }
}

//
//content: "";
//position: absolute;
//left: 0;
//right: 0;
//bottom: 0;
//height: 20px;
//width: 100%;
//          z-index: -1;
//background: #4e93e6;