$textColor: #ffffff;
$primaryColor: #663ab6;
$bgColor: #1f1f20;
$bgSecondColor: #252527;
$textFontFamily: 'Poppins', sans-serif;
$titleFontFamily: 'Josefin Sans', sans-serif;
//$textFontFamily: 400 14px/1.8 'Poppins', sans-serif;
//$titleFontFamily: 700 40px/1.2 'Josefin Sans', sans-serif;
