$textColor: #ffffff;
$primaryColor: #663ab6;
$bgColor: #1f1f20;
$bgSecondColor: #252527;
$textFontFamily: 400 14px/1.8 'Poppins', sans-serif;
$titleFontFamily: 700 26px/1.2 'Josefin Sans', sans-serif;
