.footerBlock {
  height: 50vh;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: grey;
      margin: 20px;
    }

    .network {
      border: 1px solid;
      width: 50%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div:nth-child(odd) {
        background-color: #747871;
      }

      div:nth-child(even) {
        background-color: #99d0fb;
      }
    }

    .copyright {
      display: flex;
      background-color: grey;

      img {
        background-color: brown;
      }
    }
  }
}