@import '/src/common/styles/sass/variables';
@import '/src/common/styles/sass/mixins';

.footer {
	min-height: 300px;
	@include flex(row, center, stretch, nowrap);

	.container {
		@include container();
		@include flex(column, flex-start, center, nowrap);
		padding: 100px 0 20px;

		.socialIcons {
			@include flex(row, space-evenly, center, nowrap);
			width: 400px;
			margin-top: 30px;
			@media screen and (max-width: 505px) {
				width: 100%;
			}
		}

		.copyright {
			margin-top: 40px;
			@include text($textFontFamily, 14px, 1.8, 300);
			opacity: 0.6;
		}
	}
}