.projectsBlock {
    min-height: 100vh;
    background-color: #fff;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: #747871;
    margin: 20px;
}

.title h2 {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    font-size: 44px;
    padding: 5px 10px;
    font-family: 'Rubik', sans-serif;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 754px) {
    .projects {
        justify-content: center;
    }
}