.projectsBlock {
    min-height: 100vh;
    background-color: cadetblue;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #747871;
    margin: 20px;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 754px) {
    .projects {
        justify-content: center;
    }
}