.projectsBlock {

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 1127px) {
        justify-content: center;
      }
    }
  }
}


//.projectsBlock {
//  padding: 100px 0;
//  .container {
//    @include container();
//    @include flex(column, flex-start, stretch, nowrap);
//    .projects {
//      @include flex(row, space-between, flex-start, wrap);
//      @media screen and (max-width: 1127px) {
//        justify-content: center;
//      }
//    }
//  }
//}

